

.editmode{

	width:  100%;
	height: 25px;
	background-color: rgb(244, 82, 44);
	background-color: rgba(244, 82, 44, 0.9);
	position: fixed;
	left: 240px;
	top: 50px;
	overflow-y: hidden;
	overflow-x: hidden; 
	margin: 0 auto;
	text-align: center;

}

.editmode a#edittitle{
	color: white;
	position: relative;
	top: 5px;
	left: -100px

}

.addusers{
	width:  240px;
	height: 70px;
	background-color: rgb(244, 82, 44);
	background-color: rgba(244, 82, 44, 0.9);
	position: fixed;
	left: 0px;
	top: 50px;
	overflow-y: hidden;
	overflow-x: hidden; 
	margin: 0 auto;
	
}

.addusers a.adduserstitle{
	color: white;
	position: relative;
	top: 5px;
	left: 10px;
}

.addusers input.emailfield{
	position: relative;
	margin: 10px;
	top: 5px;
	width: 180px;
	float: none;
	font-size: 17px
}

.SideBar{
	top: 120px;
}



.entername {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	/*opacity: 0.8;*/
	overflow-y:hidden;
	position: relative;
	top: 100px;
	left: 260px;
	height: 60px;
	width: 800px;
	padding: 15px;
}

.entername a.editnametitle{
	font-size: 24px;
}

.entername input.namefield{
	
	float: right;
	width: 300px;
	height: 30px;
	font-size: 24px;
	margin-right: 100px;

}


.choosetype {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	/*opacity: 0.8;*/
	overflow-y:hidden;
	position: relative;
	top: 130px;
	left: 260px;
	height: 60px;
	width: 800px;
	padding: 15px;
}

.choosetype form.chooseTypeRadio{
	padding: 10px;
}

.choosetype input[type=radio]{
	float: none;
	margin: 3px;
	display: inline;
}







.games {
	position: relative;
	top: 100px;

}



